.azorius_symbol {
  color: #eee;
  border-color: #d5e0ed;
  background-color: #040714;
}

.gruul_symbol {
  color: #eee;
  border-color: #161c12;
  background-color: #0e150c;
}

.guild_kit_boros {
  color: #eee;
  border-color: #72675e;
  background-color: #020101;
}

.guild_kit_dimir {
  color: #eee;
  border-color: #010102;
  background-color: #09111a;
}

.guild_kit_golgari {
  color: #eee;
  border-color: #010201;
  background-color: #002008;
}

.guild_kit_izzet {
  color: #eee;
  border-color: #8c0f0e;
  background-color: #11060d;
}

.guild_kit_selesnya {
  color: #eee;
  border-color: #020202;
  background-color: #0b1b0e;
}

.orzhov_symbol {
  color: #eee;
  border-color: #dce2e8;
  background-color: #171b16;
}

.planeswalker_deck_domri {
  color: #eee;
  border-color: #542311;
  background-color: #706256;
}

.prerelease_pack_azorius {
  color: #eee;
  border-color: #636157;
  background-color: #1b4570;
}

.prerelease_pack_boros {
  color: #eee;
  border-color: #020202;
  background-color: #61110f;
}

.prerelease_pack_gruul {
  color: #eee;
  border-color: #1d0302;
  background-color: #020201;
}

.prerelease_pack_orzhov {
  color: #eee;
  border-color: #020202;
  background-color: #1b1218;
}

.prerelease_pack_rakdos {
  color: #eee;
  border-color: #150d0d;
  background-color: #1c0a09;
}

.prerelease_pack_simic {
  color: #eee;
  border-color: #010302;
  background-color: #001506;
}

.rakdos_symbol {
  color: #eee;
  border-color: #090100;
  background-color: #170402;
}

.ravnica_allegiance_booster_pack_domri {
  color: #eee;
  border-color: #02a3e9;
  background-color: #023d7b;
}

.simic_symbol {
  color: #eee;
  border-color: #ededee;
  background-color: #182217;
}

.theme_booster_azorius {
  color: #eee;
  border-color: #81857d;
  background-color: #014772;
}

.theme_booster_gruul {
  color: #eee;
  border-color: #071912;
  background-color: #014671;
}

.theme_booster_orzhov {
  color: #eee;
  border-color: #151b1c;
  background-color: #014672;
}

.theme_booster_rakdos {
  color: #eee;
  border-color: #0b080b;
  background-color: #590909;
}

.theme_booster_simic {
  color: #eee;
  border-color: #01496b;
  background-color: #040c13;
}

.theme_booster_sleeve_azorius {
  color: #eee;
  border-color: #a69567;
  background-color: #181e3f;
}

.theme_booster_sleeve_gruul {
  color: #eee;
  border-color: #1e0201;
  background-color: #070000;
}

.theme_booster_sleeve_orzhov {
  color: #eee;
  border-color: #131016;
  background-color: #594b2b;
}

.theme_booster_sleeve_rakdos {
  color: #eee;
  border-color: #020101;
  background-color: #190405;
}

.theme_booster_sleeve_simic {
  color: #eee;
  border-color: #000603;
  background-color: #065365;
}

