.azorius_symbol {
  color: #eee;
  border-color: #d5e0ed;
  background-color: #040714;
}

.commander_mind_seize {
  color: #eee;
  border-color: #040911;
  background-color: #5a5858;
}

.gruul_symbol {
  color: #eee;
  border-color: #161c12;
  background-color: #0e150c;
}

.guild_kit_azorius {
  color: #eee;
  border-color: #5d7083;
  background-color: #afb1ac;
}

.guild_kit_boros {
  color: #eee;
  border-color: #62594f;
  background-color: #5e110e;
}

.guild_kit_dimir {
  color: #eee;
  border-color: #08101a;
  background-color: #011f58;
}

.guild_kit_golgari {
  color: #eee;
  border-color: #002008;
  background-color: #024512;
}

.guild_kit_gruul {
  color: #eee;
  border-color: #221006;
  background-color: #020101;
}

.guild_kit_izzet {
  color: #eee;
  border-color: #11060c;
  background-color: #020102;
}

.guild_kit_orzhov {
  color: #eee;
  border-color: #130b1b;
  background-color: #020102;
}

.guild_kit_rakdos {
  color: #eee;
  border-color: #020101;
  background-color: #680e0b;
}

.guild_kit_selesnya {
  color: #eee;
  border-color: #0a1a0d;
  background-color: #605f4d;
}

.guild_kit_simic {
  color: #eee;
  border-color: #006065;
  background-color: #010302;
}

.orzhov_symbol {
  color: #eee;
  border-color: #dce2e8;
  background-color: #171b16;
}

.planeswalker_deck_domri {
  color: #eee;
  border-color: #542311;
  background-color: #706256;
}

.prerelease_pack_azorius {
  color: #eee;
  border-color: #636157;
  background-color: #1b4570;
}

.prerelease_pack_boros {
  color: #eee;
  border-color: #020202;
  background-color: #61110f;
}

.prerelease_pack_gruul {
  color: #eee;
  border-color: #1d0302;
  background-color: #020201;
}

.prerelease_pack_orzhov {
  color: #eee;
  border-color: #020202;
  background-color: #1b1218;
}

.prerelease_pack_rakdos {
  color: #eee;
  border-color: #150d0d;
  background-color: #1c0a09;
}

.prerelease_pack_simic {
  color: #eee;
  border-color: #010302;
  background-color: #001506;
}

.rakdos_symbol {
  color: #eee;
  border-color: #090100;
  background-color: #170402;
}

.ravnica_allegiance_booster_pack_domri {
  color: #eee;
  border-color: #02a3e9;
  background-color: #023d7b;
}

.simic_symbol {
  color: #eee;
  border-color: #ededee;
  background-color: #182217;
}

.theme_booster_azorius {
  color: #eee;
  border-color: #014772;
  background-color: #0f617d;
}

.theme_booster_gruul {
  color: #eee;
  border-color: #014671;
  background-color: #0a6687;
}

.theme_booster_orzhov {
  color: #eee;
  border-color: #030508;
  background-color: #151b1c;
}

.theme_booster_rakdos {
  color: #eee;
  border-color: #590909;
  background-color: #014670;
}

.theme_booster_simic {
  color: #eee;
  border-color: #012548;
  background-color: #0f6279;
}

.theme_booster_sleeve_azorius {
  color: #eee;
  border-color: #a69567;
  background-color: #181e3f;
}

.theme_booster_sleeve_gruul {
  color: #eee;
  border-color: #1e0201;
  background-color: #070000;
}

.theme_booster_sleeve_orzhov {
  color: #eee;
  border-color: #131016;
  background-color: #594b2b;
}

.theme_booster_sleeve_rakdos {
  color: #eee;
  border-color: #020101;
  background-color: #190405;
}

.theme_booster_sleeve_simic {
  color: #eee;
  border-color: #000603;
  background-color: #065365;
}

.welcome_deck_2019 {
  color: #eee;
  border-color: #100d0d;
  background-color: #61160e;
}

.boros_watermark_background {
  background-image: url("img/../../assets/img/boros_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.dimir_watermark_background {
  background-image: url("img/../../assets/img/dimir_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.golgari_watermark_background {
  background-image: url("img/../../assets/img/golgari_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.izzet_watermark_background {
  background-image: url("img/../../assets/img/izzet_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.selesnya_watermark_background {
  background-image: url("img/../../assets/img/selesnya_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

