.azorius_symbol {
  color: #eee;
  border-color: #192e57;
  background-color: #000000;
}

.commander_mind_seize {
  color: #eee;
  border-color: #605e5c;
  background-color: #000000;
}

.commander_mind_seize {
  color: #eee;
  border-color: #503720;
  background-color: #272e43;
}

.commander_mind_seize_2 {
  color: #eee;
  border-color: #625f5d;
  background-color: #26262b;
}

.gruul_symbol {
  color: #eee;
  border-color: #4d443a;
  background-color: #000000;
}

.guild_kit_azorius {
  color: #eee;
  border-color: #416595;
  background-color: #3c4042;
}

.guild_kit_boros {
  color: #eee;
  border-color: #5c1b14;
  background-color: #341513;
}

.guild_kit_dimir {
  color: #eee;
  border-color: #403628;
  background-color: #020c20;
}

.guild_kit_golgari {
  color: #eee;
  border-color: #020d06;
  background-color: #010c03;
}

.guild_kit_gruul {
  color: #eee;
  border-color: #545e21;
  background-color: #160d05;
}

.guild_kit_izzet {
  color: #eee;
  border-color: #9a0e0d;
  background-color: #1f0506;
}

.guild_kit_orzhov {
  color: #eee;
  border-color: #625b63;
  background-color: #34302f;
}

.guild_kit_rakdos {
  color: #eee;
  border-color: #61140f;
  background-color: #180505;
}

.guild_kit_selesnya {
  color: #eee;
  border-color: #626050;
  background-color: #191f15;
}

.guild_kit_simic {
  color: #eee;
  border-color: #223f2f;
  background-color: #011210;
}

.orzhov_symbol {
  color: #eee;
  border-color: #3c443c;
  background-color: #000000;
}

.planeswalker_deck_domri {
  color: #eee;
  border-color: #562b18;
  background-color: #04141f;
}

.planeswalker_deck_dovin {
  color: #eee;
  border-color: #394752;
  background-color: #04131e;
}

.prerelease_pack_azorius {
  color: #eee;
  border-color: #656258;
  background-color: #292c2d;
}

.prerelease_pack_boros {
  color: #eee;
  border-color: #621714;
  background-color: #351412;
}

.prerelease_pack_gruul {
  color: #eee;
  border-color: #541d15;
  background-color: #120c05;
}

.prerelease_pack_orzhov {
  color: #eee;
  border-color: #49443e;
  background-color: #25211b;
}

.prerelease_pack_rakdos {
  color: #eee;
  border-color: #3b3331;
  background-color: #130404;
}

.prerelease_pack_simic {
  color: #eee;
  border-color: #294337;
  background-color: #031413;
}

.rakdos_symbol {
  color: #eee;
  border-color: #4e2521;
  background-color: #000000;
}

.ravnica_allegiance_booster_pack_domri {
  color: #eee;
  border-color: #958278;
  background-color: #066198;
}

.ravnica_allegiance_booster_pack_dovin {
  color: #eee;
  border-color: #999ea0;
  background-color: #034d87;
}

.simic_symbol {
  color: #eee;
  border-color: #3a4937;
  background-color: #000000;
}

.theme_booster_azorius {
  color: #eee;
  border-color: #03345b;
  background-color: #333a3b;
}

.theme_booster_gruul {
  color: #eee;
  border-color: #03345a;
  background-color: #01180b;
}

.theme_booster_orzhov {
  color: #eee;
  border-color: #02345b;
  background-color: #06121a;
}

.theme_booster_rakdos {
  color: #eee;
  border-color: #094d71;
  background-color: #3d090b;
}

.theme_booster_simic {
  color: #eee;
  border-color: #033257;
  background-color: #000000;
}

.theme_booster_simic {
  color: #eee;
  border-color: #0d6689;
  background-color: #001c34;
}

.theme_booster_sleeve_azorius {
  color: #eee;
  border-color: #887b62;
  background-color: #6c6660;
}

.theme_booster_sleeve_gruul {
  color: #eee;
  border-color: #3a2807;
  background-color: #615637;
}

.theme_booster_sleeve_orzhov {
  color: #eee;
  border-color: #645946;
  background-color: #59524a;
}

.theme_booster_sleeve_rakdos {
  color: #eee;
  border-color: #cc2013;
  background-color: #6d4a46;
}

.theme_booster_sleeve_simic {
  color: #eee;
  border-color: #095767;
  background-color: #244c4d;
}

.welcome_deck_2019 {
  color: #eee;
  border-color: #3b3640;
  background-color: #613328;
}

.boros_watermark_background {
  background-image: url("img/../../assets/img/boros_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.dimir_watermark_background {
  background-image: url("img/../../assets/img/dimir_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.golgari_watermark_background {
  background-image: url("img/../../assets/img/golgari_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.izzet_watermark_background {
  background-image: url("img/../../assets/img/izzet_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

.selesnya_watermark_background {
  background-image: url("img/../../assets/img/selesnya_watermark.png");
  background-position: center;
  background-repeat: no-repeat;
}

