/* This is my own style - Cicero */
img.prerelease-pack, img.planeswalker-deck, img.guild-kit {
  width: 300px;
  float: right;
}

img.planeswalker-deck-booster {
  width: 100px;
  float: right;
}

img.theme-booster {
  width: 300px;
  float: right;
}

.page-content {
  background-color: #77766C;
}

.set-pack-wrapper {
    padding: 1em;
    border: 0.4em solid transparent;
    margin-bottom: 1em;
}
