/* This is my own style - Cicero */
.deck-set-content ul {
  list-style-type: none;
}

img.prerelease-pack, img.planeswalker-deck, img.guild-kit, img.sample-decks, img.commander-2013-mind-seize {
  width: 300px;
  float: right;
}

img.planeswalker-deck-booster {
  width: 100px;
  float: right;
}

img.theme-booster {
  width: 200px;
  float: right;
}

.page-content {
  background-color: #eee;
}

.set-pack-wrapper {
    padding: 1em;
    border: 0.4em solid transparent;
    margin-bottom: 1em;
    background-size: 90%;
}
