---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    {% for pack in site.data[page.data_file] %}
      {% assign style = pack.image.name | split: "." %}
      <div class="{{ style[0] }} set-pack-wrapper">
        <h2>
          {{ pack.name }} - {{ pack.pack_type }}
        </h2>

        {% if pack.image %}
          <img src="{{ site.baseurl }}/assets/img/{{ pack.image.name }}" alt="{{ pack.image.alt }}" title="{{ pack.image.title }}" class="{{ pack.pack_type | slugify}} {{ pack.image.title | slugify}}">
        {% endif %}

        {% for card_group in pack.cards %}
        <h3>{{ card_group.type }} ({{ card_group.count }})</h3>
        <ul>
          {% for card in card_group.cards %}
          <li>{{card.count}} {{card.name}} {{card.rarity}} ({{ card.card_set }}-{{card.number}})</li>
          {% endfor %}
        </ul>
        {% endfor %}

      </div>
    {% endfor %}
    <script>

      // $(function() {
      //   var colorThief = new ColorThief();
      //
      //   $('img').each(function() {
      //     var image = $(this)[0];
      //
      //     var palette = colorThief.getPalette(image);
      //     $(image).parent().css("background-color", "rgb(" + palette[2].toString() + ")");
      //     $(image).parent().css("border-color", "rgb(" + palette[1].toString() + ")");
      //     $(image).parent().css("color", "rgb(" + palette[0].toString() + ")");
      //   });
      //
      //   alert("ready");
      //
      // });
    </script>

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
