<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

  <script>

    $(function() {
      var colorThief = new ColorThief();

      //var $image = $('.guild-kit-boros');
      $('img').each(function() {
        var image = $(this)[0];

        var palette = colorThief.getPalette(image);
        $(image).parent().css("background-color", "rgb(" + palette[2].toString() + ")");
        $(image).parent().css("border-color", "rgb(" + palette[1].toString() + ")");
        $(image).parent().css("color", "rgb(" + palette[0].toString() + ")");
      });

      alert("ready");

    });
  </script>

</html>
